<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>View Your To Do List!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <h1>Welcome to your To Do List</h1>
      <p>Would you like to add an item, view all items, clear items or exit?
      <p>
        <a href="/Form">Click here to add items!</a>
        <a href="/ToDoList">Click here to view items!</a>


        ("clear all items or exit? (add/view/clear/exit)");
    </div>
  </div>
</body>